In [2]:
# Carga y manipulación de datos
import pandas as pd
import numpy as np

# Preprocesamiento
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Modelado de K-means
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Gráficas
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('customer_satisfaction_data.csv')
df.head()

,CustomerID,Age,PlanType,MonthlyBill,HoursWatched_Last30d,SignupDate,CustomerCode,LastSupportTicket
0,28-AHF,77,estandar,38.37,36.1,7/10/2023,28-AHF,ERROR EN LA APLICACION MOVIL. El cliente repor...
1,107-FPV,33,Basico,16.97,23.6,1/6/2025,107-FPV,CONSULTA SOBRE CONTENIDO DISPONIBLE. El proble...
2,11-SNZ,50,Basico,18.28,34.7,1/21/2021,11-SNZ,problema de conexion a internet. El problema p...
3,25-JLV,53,Basico,16.69,38.1,1/21/2022,25-JLV,Queja sobre atencion al cliente. Cliente insat...
4,56-RVU,28,Basico,NaN,22.6,5/21/2024,56-RVU,Queja sobre atencion al cliente

In [5]:
print(f'Dimensionalidad del Df: {df.shape}') 
print(f'Info del df: {df.info()}')

Dimensionalidad del Df: (1000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1000 non-null   object
 1   Age                   1000 non-null   int64
 2   PlanType              1000 non-null   object
 3   MonthlyBill           869 non-null    float64
 4   HoursWatched_Last30d  1000 non-null   float64
 5   SignupDate            1000 non-null   object
 6   CustomerCode          1000 non-null   object
 7   LastSupportTicket     1000 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 62.6+ KB
Info del df: None

In [6]:
df.describe()

               Age  MonthlyBill  HoursWatched_Last30d
count  1000.000000   869.000000           1000.000000
mean     53.383000    29.429390             61.305100
std      24.918492    18.508729             43.517534
min       0.000000    10.010000             10.100000
25%      36.000000    15.060000             30.800000
50%      50.500000    25.590000             45.400000
75%      70.000000    35.980000             84.025000
max     145.000000    79.840000            199.500000