In [1]:
import pandas as pd
df = pd.read_csv('customer_satisfaction_data.csv')
df.head(10)

,CustomerID,Age,PlanType,MonthlyBill,HoursWatched_Last30d,SignupDate,CustomerCode,LastSupportTicket
0,28-AHF,77,estandar,38.37,36.1,7/10/2023,28-AHF,ERROR EN LA APLICACION MOVIL. El cliente repor...
1,107-FPV,33,Basico,16.97,23.6,1/6/2025,107-FPV,CONSULTA SOBRE CONTENIDO DISPONIBLE. El proble...
2,11-SNZ,50,Basico,18.28,34.7,1/21/2021,11-SNZ,problema de conexion a internet. El problema p...
3,25-JLV,53,Basico,16.69,38.1,1/21/2022,25-JLV,Queja sobre atencion al cliente. Cliente insat...
4,56-RVU,28,Basico,NaN,22.6,5/21/2024,56-RVU,Queja sobre atencion al cliente
5,117-DDT,38,Estandar,31.42,70.8,11/10/2023,117-DDT,consulta sobre facturacion. El cliente reporta...
6,108-PKP,73,Basico,15.52,47.7,1/27/2022,108-PKP,Consulta tecnica general. El problema persiste...
7,67-ZTN,76,Basico,18.41,30.3,10/9/2024,67-ZTN,Consulta sobre facturacion. El cliente reporta...
8,28-YWV,85,Basico,NaN,45.1,6/12/2025,28-YWV,Error en sistema de recomendaciones. Se requie...
9,42-GWL,25,Basico,17.29,18.0,2/21/2024,42-GWL,OK

In [2]:
print(f'Dimensionalidad del Df: {df.shape}') 
print(f'Info del df: {df.info()}')

Dimensionalidad del Df: (1000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1000 non-null   object
 1   Age                   1000 non-null   int64
 2   PlanType              1000 non-null   object
 3   MonthlyBill           869 non-null    float64
 4   HoursWatched_Last30d  1000 non-null   float64
 5   SignupDate            1000 non-null   object
 6   CustomerCode          1000 non-null   object
 7   LastSupportTicket     1000 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 62.6+ KB
Info del df: None

In [3]:
df.isnull().sum()

CustomerID                0
Age                       0
PlanType                  0
MonthlyBill             131
HoursWatched_Last30d      0
SignupDate                0
CustomerCode              0
LastSupportTicket         0
dtype: int64

In [4]:
df.describe()

               Age  MonthlyBill  HoursWatched_Last30d
count  1000.000000   869.000000           1000.000000
mean     53.383000    29.429390             61.305100
std      24.918492    18.508729             43.517534
min       0.000000    10.010000             10.100000
25%      36.000000    15.060000             30.800000
50%      50.500000    25.590000             45.400000
75%      70.000000    35.980000             84.025000
max     145.000000    79.840000            199.500000

In [5]:
df['LastSupportTicket'].value_counts()

LastSupportTicket
OK                                                                                                                                                                             107
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.      47
Problema con subtÃ­tulos                                                                                                                                                        24
Error en la aplicacion movil                                                                                                                                                    24
Consulta tecnica general                                                                                                                                                        21
                                                                                                                                                                              ...
PROBLEMA CON SUBTÃTULOS. El problema persiste desde hace varios dÃ­as.                                                                                                          1
problema de conexion a internet. Se necesita contactar al cliente para mÃ¡s informaciÃ³n.                                                                                        1
problema con subtÃ­tulos. Se requiere seguimiento urgente.                                                                                                                       1
error en sistema de recomendaciones. Cliente insatisfecho con la respuesta anterior.                                                                                             1
problema con reproducciÃ³n de video. Se necesita contactar al cliente para mÃ¡s informaciÃ³n.                                                                                    1
Name: count, Length: 184, dtype: int64

In [6]:
df['PlanType'].unique()

array(['estandar', 'Basico', 'Estandar', 'Premium', 'Prem', 'PREM',
       'premium'], dtype=object)

In [7]:
df['PlanType'].value_counts()

PlanType
Basico      488
Estandar    287
Premium      81
premium      52
estandar     46
Prem         26
PREM         20
Name: count, dtype: int64

In [8]:
# Mostrar filas donde la fecha es inválida
df[df['SignupDate'].isna()]

Empty DataFrame
Columns: [CustomerID, Age, PlanType, MonthlyBill, HoursWatched_Last30d, SignupDate, CustomerCode, LastSupportTicket]
Index: []

In [9]:
df.describe()

               Age  MonthlyBill  HoursWatched_Last30d
count  1000.000000   869.000000           1000.000000
mean     53.383000    29.429390             61.305100
std      24.918492    18.508729             43.517534
min       0.000000    10.010000             10.100000
25%      36.000000    15.060000             30.800000
50%      50.500000    25.590000             45.400000
75%      70.000000    35.980000             84.025000
max     145.000000    79.840000            199.500000

In [11]:
df['SignupDate'].unique()

array(['7/10/2023', '1/6/2025', '1/21/2021', '1/21/2022', '5/21/2024',
       '11/10/2023', '1/27/2022', '10/9/2024', '6/12/2025', '2/21/2024',
       '1/25/2021', '1/16/2021', '21-Jan-21', '9/13/2023', '8/12/2022',
       '8/31/2025', '05/28/2022', '3/22/2022', '2/8/2021', '12/6/2021',
       '1/23/2021', '7/30/2023', '5-Mar-24', '29-Mar-25', '10/27/2024',
       '3/15/2024', '3/21/2022', '3/23/2023', '05/19/2021', '1/22/2023',
       '5/13/2024', '12/27/2021', '9/16/2023', '1/20/2024', '8/30/2025',
       '3/31/2025', '2/13/2021', '4/24/2023', '5/12/2023', '10/25/2024',
       '3/7/2023', '8/17/2021', '2/19/2023', '3/8/2024', '7/20/2025',
       '12/4/2021', '3/1/2024', '9/8/2024', '5/18/2025', '03/28/2025',
       '12/13/2020', '3/22/2021', '7/25/2023', '1/5/2021', '9/6/2025',
       '5/27/2024', '11/4/2024', '9/18/2022', '10/28/2022', '3/26/2024',
       '6/25/2024', '11/2/2023', '08/30/2023', '9/28/2022', '11/16/2022',
       '9/2/2024', '4/21/2022', '01/28/2025', '12/9/2022', '2/19/2021',
       '6/30/2022', '6/16/2024', '8/2/2023', '9/2/2022', '12/3/2023',
       '12/7/2020', '7/25/2022', '11/26/2024', '4/7/2024', '12/26/2023',
       '11/30/2024', '6/4/2023', '9/25/2023', '4/7/2022', '10/5/2022',
       '7/21/2022', '3/1/2023', '21-May-22', '10/19/2024', '4/24/2025',
       '9/1/2023', '5/17/2023', '7-Apr-25', '5/7/2025', '7/24/2021',
       '10/4/2024', '5/10/2024', '11/16/2024', '04/21/2022', '7/10/2021',
       '9/28/2025', '11/21/2021', '03/17/2025', '4/9/2021', '12/24/2024',
       '3/12/2022', '3/12/2024', '2/26/2025', '8/25/2022', '9-Dec-20',
       '1/23/2023', '1/31/2023', '3/30/2021', '3/19/2022', '2/17/2024',
       '24-Apr-23', '4/8/2024', '8/26/2025', '11/29/2022', '10/8/2024',
       '7/9/2025', '13-Feb-23', '22-Apr-22', '9/4/2022', '5/4/2023',
       '9/22/2022', '7/24/2023', '3/30/2023', '12/25/2020', '8/7/2024',
       '5/21/2023', '4/19/2021', '2/7/2024', '9/17/2023', '8/5/2022',
       '9/28/2024', '10/23/2023', '12/30/2023', '2/20/2021', '10/19/2025',
       '1/20/2025', '3/31/2022', '8/25/2025', '4/14/2021', '12/13/2023',
       '10/14/2023', '2/28/2024', '7/27/2023', '7/2/2021', '9-Apr-21',
       '4/23/2021', '6/5/2021', '11/3/2022', '6/4/2021', '4/20/2025',
       '21-Aug-25', '12/31/2020', '21-Mar-24', '31-Dec-21', '2/17/2023',
       '7/17/2021', '4/24/2024', '2/22/2025', '29-Dec-21', '2/11/2023',
       '6/28/2023', '7/29/2024', '9/28/2023', '9/10/2024', '4/10/2022',
       '7/18/2024', '8/11/2021', '6/8/2022', '6/16/2022', '12/28/2020',
       '9/26/2021', '12/20/2020', '7/15/2021', '5/31/2025', '10/6/2021',
       '3/18/2024', '4/21/2023', '2/3/2023', '3/4/2023', '3/16/2022',
       '7/28/2022', '11-Jan-24', '3/5/2022', '2-Aug-22', '9/17/2024',
       '3/15/2023', '5/14/2025', '3/9/2022', '4/23/2022', '4/13/2023',
       '12/16/2022', '1-Dec-24', '5/26/2025', '7/8/2021', '1/12/2024',
       '9/19/2021', '12/30/2024', '1/10/2022', '4/5/2022', '8/30/2023',
       '11/25/2021', '5/5/2025', '16-Apr-23', '12/2/2025', '8/15/2021',
       '10/18/2023', '4/4/2024', '2/25/2025', '8/14/2025', '11-Jan-22',
       '8/4/2024', '3/3/2022', '2-Apr-22', '6/17/2022', '20-Jan-23',
       '1/31/2021', '1/14/2023', '11/14/2021', '14-Oct-22', '1/2/2022',
       '11/18/2021', '3/3/2021', '10/1/2023', '11/9/2025', '7/4/2025',
       '11/2/2025', '7/27/2021', '7/20/2021', '8/1/2025', '8/9/2022',
       '2/15/2021', '9/5/2023', '2/11/2021', '1/29/2022', '19-Jun-25',
       '11-Oct-21', '9/19/2022', '8/17/2025', '6/23/2024', '2/18/2025',
       '3/10/2023', '2/23/2025', '27-Feb-25', '5/18/2021', '3/24/2025',
       '10/17/2022', '7/1/2021', '6/13/2023', '6/5/2023', '8/25/2023',
       '10/18/2024', '10/10/2023', '11/28/2023', '2/16/2023', '5/29/2021',
       '15-Jun-22', '8/29/2022', '2/13/2024', '11/12/2023', '7/18/2021',
       '6/10/2025', '9/14/2023', '12/23/2021', '10/30/2025', '6/9/2023',
       '5/19/2024', '11/17/2021', '7/16/2021', '10/7/2021', '2/24/2022',
       '7/26/2021', '8/24/2021', '4/6/2023', '5/30/2022', '2/28/2025',
       '9/19/2024', '4/9/2024', '2/8/2022', '4/4/2021', '10/18/2025',
       '1/5/2025', '12/12/2021', '9/11/2021', '5/23/2023', '2/17/2025',
       '7/7/2023', '5/29/2025', '11/15/2022', '12/25/2021', '1-May-25',
       '11/24/2023', '12/20/2022', '8/6/2021', '6/15/2022', '8/14/2024',
       '6/29/2023', '5/10/2023', '5/20/2025', '1/4/2024', '10/1/2024',
       '7-Jul-24', '5/25/2025', '4/16/2021', '3/6/2023', '8/1/2024',
       '2/12/2022', '10/10/2022', '3-Oct-24', '4/2/2022', '10/1/2022',
       '2/6/2022', '8/26/2021', '10-Jun-24', '7/2/2022', '9/26/2023',
       '1/24/2024', '9-Feb-25', '11/11/2021', '22-Apr-24', '1/9/2025',
       '7/3/2023', '9/4/2025', '6/14/2025', '9/9/2025', '6/29/2021',
       '9/14/2025', '4/15/2022', '5/16/2023', '5/22/2023', '4/4/2022',
       '6/22/2025', '5/31/2023', '9/1/2022', '1/24/2022', '14-Sep-23',
       '2/23/2023', '4/1/2025', '19-Oct-25', '7/31/2023', '08/15/2021',
       '8/2/2025', '28-Jun-25', '4/25/2024', '27-Mar-23', '08/30/2025',
       '3/25/2024', '12/10/2021', '4/2/2025', '4/3/2023', '12/18/2024',
       '7/15/2025', '3/3/2024', '12/1/2021', '12/23/2024', '08/29/2021',
       '2/20/2023', '22-Oct-21', '8-Jul-25', '2/13/2023', '8/7/2021',
       '8/17/2022', '7/13/2022', '25-Dec-23', '1/5/2022', '6/13/2025',
       '6/14/2022', '2/9/2023', '4-Mar-21', '12/10/2024', '3/22/2023',
       '11/19/2024', '11/6/2022', '12/5/2021', '7/9/2023', '5/4/2021',
       '09/21/2021', '10/7/2024', '11-Jun-22', '2/22/2021', '10/3/2024',
       '1/10/2021', '12/11/2022', '5/7/2024', '29-Oct-23', '24-Jul-24',
       '15-Dec-20', '7/6/2022', '12/29/2022', '12/22/2020', '6/6/2024',
       '9/14/2021', '1/19/2022', '9-Jan-24', '8/28/2025', '3/15/2022',
       '11/29/2021', '11/12/2025', '3/12/2021', '9-Oct-21', '8/27/2023',
       '2/27/2022', '4/16/2023', '1/24/2023', '1-Jan-21', '03/14/2022',
       '9/27/2025', '3/3/2023', '11/26/2020', '7-Feb-21', '3/1/2025',
       '5/13/2021', '4/1/2024', '5/30/2025', '1/26/2025', '12/22/2022',
       '11/2/2022', '11/9/2022', '10/19/2023', '24-Nov-22', '11/24/2021',
       '6/3/2023', '10/3/2022', '13-Aug-25', '3/18/2021', '12/27/2023',
       '9/10/2022', '8/21/2023', '10/2/2024', '10/13/2022', '9/11/2024',
       '5/23/2021', '3/21/2023', '11/29/2023', '20-May-25', '9/12/2022',
       '2/18/2021', '1/28/2022', '08/15/2024', '3/27/2023', '18-Feb-24',
       '31-Jul-24', '11/19/2023', '7/5/2024', '3/8/2022', '4/28/2022',
       '6/7/2025', '24-Apr-22', '6/1/2025', '16-Nov-23', '7/31/2021',
       '7/16/2023', '16-Sep-25', '1/18/2022', '12-Dec-20', '9/7/2023',
       '2/2/2021', '12/25/2024', '9/4/2024', '7/20/2024', '9/26/2022',
       '4/29/2024', '7/11/2022', '9/23/2021', '10/27/2021', '02/28/2022',
       '3/24/2021', '7/4/2021', '4/9/2022', '25-Dec-22', '6/1/2021',
       '12/6/2024', '5/22/2022', '8/27/2025', '4/26/2021', '8/24/2023',
       '12/18/2021', '11/22/2022', '2/1/2021', '7/17/2025', '23-Mar-24',
       '3/29/2021', '10/23/2021', '12/31/2022', '3/13/2022', '9/5/2022',
       '9-Oct-22', '3/14/2025', '2/3/2025', '3-Jul-23', '6/21/2021',
       '5/9/2024', '2-May-25', '3/5/2024', '7/6/2023', '9/29/2021',
       '4/14/2022', '4/27/2025', '5/3/2021', '03/15/2023', '4/14/2025',
       '6/5/2022', '6/18/2022', '11/19/2025', '24-Sep-21', '12/8/2021',
       '22-Feb-21', '9/6/2022', '10/23/2022', '7/6/2021', '10/25/2021',
       '11/1/2024', '10-Aug-21', '2/8/2025', '4/22/2024', '3/13/2024',
       '1/8/2024', '11/11/2023', '7/12/2023', '1/1/2025', '5/26/2023',
       '15-Jun-25', '11/7/2022', '2/27/2024', '1/17/2025', '1/28/2023',
       '9/16/2022', '8/22/2023', '7/7/2024', '4/20/2021', '10/31/2022',
       '8/20/2021', '10/10/2024', '5/31/2024', '09/17/2024', '6-Jun-21',
       '6/24/2023', '5/1/2025', '3/5/2021', '2/25/2021', '11/20/2024',
       '1/7/2023', '8/28/2023', '4/12/2023', '30-Jun-21', '6/20/2025',
       '3/15/2025', '2/18/2024', '1/15/2022', '6/21/2023', '6/17/2023',
       '2/14/2024', '11/30/2023', '7-Mar-24', '2/27/2021', '11/15/2023',
       '5/4/2024', '5/23/2022', '9/16/2025', '3/5/2025', '2/10/2023',
       '4/22/2025', '4/15/2025', '12/9/2020', '10/12/2021', '21-Sep-25',
       '6/17/2021', '10/18/2021', '4/28/2025', '26-Dec-22', '10/15/2024',
       '10/20/2024', '1/27/2021', '30-Sep-24', '5/16/2024', '4/11/2025',
       '5/28/2021', '9/13/2022', '10/18/2022', '3/26/2022', '3/25/2021',
       '5/31/2021', '5/24/2023', '2/9/2022', '12/14/2024', '3/4/2025',
       '3/17/2021', '8-Oct-21', '8/30/2021', '9/8/2022', '27-Nov-23',
       '29-Dec-22', '17-Nov-24', '7/2/2024', '8/19/2025', '5/22/2021',
       '10/17/2023', '5/12/2024', '5/9/2025', '08/22/2024', '10/1/2025',
       '2/24/2023', '3/17/2025', '7-Nov-21', '9/13/2021', '1/13/2024',
       '18-Aug-23', '7/27/2022', '3-May-22', '6/6/2022', '10/25/2025',
       '1/5/2024', '2/18/2022', '2/22/2024', '12/9/2024', '6-Sep-25',
       '6/10/2024', '5/11/2022', '6/14/2023', '8/26/2022', '6/11/2021',
       '10/16/2023', '2/20/2025', '7-Feb-22', '2/6/2024', '11/23/2021',
       '10/16/2025', '1/9/2022', '11/5/2024', '8/17/2024', '12-Dec-23',
       '12/2/2022', '14-Oct-23', '18-Jul-23', '3-Jan-25', '5/31/2022',
       '21-Oct-24', '7/13/2024', '3-Apr-23', '1/15/2024', '12/18/2022',
       '4/30/2024', '21-Nov-22', '5/2/2022', '2/1/2022', '4/24/2022',
       '10/23/2024', '1/7/2024', '11/1/2021', '5/30/2021', '8/30/2022',
       '19-Mar-25', '4/30/2025', '8/20/2025', '12/2/2024', '9/23/2025',
       '8/21/2024', '11/11/2022', '6/27/2024', '21-Feb-22', '5/9/2023',
       '16-Aug-25', '6-Jul-23', '10/9/2022', '12/29/2024', '10/29/2025',
       '12/24/2020', '5-Jan-21', '21-Nov-21', '30-Jul-22', '5-Sep-25',
       '6/29/2024', '11/14/2022', '5/15/2021', '5/19/2025', '9/7/2024',
       '5/30/2024', '1/16/2023', '12/5/2024', '6/22/2023', '7/11/2025',
       '23-Jun-23', '12/30/2020', '28-Aug-21', '8/16/2023', '4/5/2024',
       '5/17/2022', '17-Nov-21', '4/5/2023', '3/8/2021', '11/9/2024',
       '12/26/2022', '4/27/2022', '26-Nov-21', '12/1/2022', '4/12/2025',
       '9/24/2024', '2/28/2023', '8/4/2023', '8/8/2022', '6-Sep-23',
       '6/21/2024', '3/11/2022', '31-Oct-23', '7/31/2024', '10/12/2024',
       '4/7/2021', '11/15/2021', '10/1/2021', '5/10/2025', '7/21/2025',
       '6/26/2023', '30-Jul-24', '6/21/2022', '5/15/2023', '1-Jul-22',
       '14-Apr-25', '1/14/2025', '25-Oct-22', '1/3/2021', '6/22/2024',
       '6/6/2021', '9/6/2024', '7/14/2025', '8/10/2023', '25-Sep-24',
       '9/22/2024', '4/30/2022', '7/14/2024', '7/2/2025', '4/10/2025',
       '25-May-23', '4/17/2025', '3/18/2025', '3/17/2023', '9-Dec-21',
       '14-May-24', '10/31/2024', '7/15/2022', '11-Oct-23', '10/14/2022',
       '2/23/2021', '9/24/2022', '3/16/2023', '11-Dec-22', '8/13/2025',
       '8/14/2023', '2/15/2024', '4/10/2023', '25-Nov-23', '1/12/2023',
       '2/25/2022', '10/27/2025', '6/23/2021', '4/28/2021', '8/15/2023',
       '7-Jan-24', '11/22/2024', '13-Apr-21', '5/8/2025', '7/19/2024',
       '17-Sep-25', '11/13/2023', '15-Oct-21', '12/5/2020', '08/23/2024',
       '6/25/2023', '02/26/2024', '6/10/2021', '1/6/2023', '1/31/2024',
       '7/22/2022', '3/16/2024', '11/7/2024', '22-Feb-24', '7/1/2024',
       '8/8/2023', '7/30/2022', '8/20/2022', '10/23/2025', '9/23/2024',
       '3/31/2023', '6/25/2025', '24-Dec-23', '04/22/2021', '9/7/2022',
       '28-Feb-21', '28-Jul-22', '24-Jul-21', '6/7/2024', '22-Sep-21',
       '8/10/2021', '5/20/2022', '12/30/2022', '12/31/2024', '1/11/2024',
       '08/20/2021', '14-Nov-25', '5/16/2025', '6/15/2021', '9/26/2025',
       '18-May-22', '5/19/2023', '10/24/2023', '8/25/2021', '21-May-25',
       '1/23/2024', '2-Feb-25', '3/28/2021', '7/13/2021', '1/3/2023',
       '14-Aug-25', '8/1/2023', '2/27/2025', '10/5/2025', '3/28/2024',
       '11/3/2024'], dtype=object)

In [12]:
# Unificando Categorias plantype

df['PlanType'] = df['PlanType'].replace('premium', 'Premium')
df['PlanType'] = df['PlanType'].replace('PREM', 'Premium')
df['PlanType'] = df['PlanType'].replace('Prem', 'Premium')


df['PlanType']= df['PlanType'].replace('estandar', 'Estandar')

In [13]:
df['PlanType'].unique()

array(['Estandar', 'Basico', 'Premium'], dtype=object)

In [14]:
#definimos el orden
orden = ['Basico', 'Estandar', 'Premium']

In [15]:
#Aplicamos la tecnica
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder(categories=[orden])

df['PlanType_encoded'] = encoder.fit_transform(df[['PlanType']])

In [16]:
df.head()

,CustomerID,Age,PlanType,MonthlyBill,HoursWatched_Last30d,SignupDate,CustomerCode,LastSupportTicket,PlanType_encoded
0,28-AHF,77,Estandar,38.37,36.1,7/10/2023,28-AHF,ERROR EN LA APLICACION MOVIL. El cliente repor...,1.0
1,107-FPV,33,Basico,16.97,23.6,1/6/2025,107-FPV,CONSULTA SOBRE CONTENIDO DISPONIBLE. El proble...,0.0
2,11-SNZ,50,Basico,18.28,34.7,1/21/2021,11-SNZ,problema de conexion a internet. El problema p...,0.0
3,25-JLV,53,Basico,16.69,38.1,1/21/2022,25-JLV,Queja sobre atencion al cliente. Cliente insat...,0.0
4,56-RVU,28,Basico,NaN,22.6,5/21/2024,56-RVU,Queja sobre atencion al cliente,0.0

In [17]:
#manejo de valores atipicos primero observaremos
num_menores_18 = (df['Age'] < 18).sum()
print("Cantidad de registros de clientes menores de 18 años:", num_menores_18)

Cantidad de registros de clientes menores de 18 años: 58

In [18]:
df['Age'].unique()

array([ 77,  33,  50,  53,  28,  38,  73,  76,  85,  25,  40,  46,  89,
        67,  41,  37,  21,  31,  94,  63,  57,  71,  79,  65,  78,  16,
        48,  52,  99,  32,  12,  17,  80,  42,  75,  44,  70,  55,  39,
        47,  24,  72,  61,  68,  92,  60,  90,  58,  96,  36,  35,  49,
        51, 111,   6,  86,  15, 130,  74,  56,  22,  82,  14,  20,  88,
        64,  29,  59,  54,   7,  84,  43,   0,  18,  81,  93,  26,  23,
        62,  45,  69, 134,  34,  27,   4,  95,  97,   8,  91,  30,  19,
        11, 104, 115,  83,   2,   5, 145,  98,  66,   9, 116,  87, 126,
        10, 103, 132, 142, 102,  13, 101, 100, 124, 131, 137, 129, 140,
       117, 113, 109, 128])

In [19]:
# consulta registros mayores a 100 años
num_menores_18 = (df['Age'] > 100).sum()
print("Resgitros de clientes con mas de 100 años:",num_menores_18)

Resgitros de clientes con mas de 100 años: 31

In [ ]:
# Filtramos solo las filas con edades entre 18 y 100
df_limpio = df[(df['Age'] >= 18) & (df['Age'] <= 100)]

# para reemplazar el DataFrame original con el limpio
df = df_limpio.reset_index(drop=True)

print("Cantidad de registros después de eliminar outliers de edad:", df.shape[0])

Cantidad de registros después de eliminar outliers de edad: 911

In [21]:
#imputacion en facturamensual

df.describe()

              Age  MonthlyBill  HoursWatched_Last30d  PlanType_encoded
count  911.000000   795.000000            911.000000        911.000000
mean    53.822173    29.477497             60.994182          0.689352
std     20.169970    18.499242             43.181109          0.750887
min     18.000000    10.010000             10.100000          0.000000
25%     38.000000    15.105000             30.900000          0.000000
50%     51.000000    25.800000             45.300000          1.000000
75%     69.000000    35.995000             83.950000          1.000000
max    100.000000    79.840000            199.500000          2.000000

In [22]:
# Tomamos la edad máxima real del dataset
edad_max = df["Age"].max()

# obtener la media y la desviación estándar reales
media = df["Age"].mean()
desviacion = df["Age"].std()

# Calcular Z-score de la edad máxima
edad_estandarizada = (edad_max - media) / desviacion

# Mostrar resultados
print("Edad original:", edad_max)
print("Media de Age:", media)
print("Desviación estándar:", desviacion)
print("Edad estandarizada (Z-score):", edad_estandarizada)

Edad original: 100
Media de Age: 53.822173435784855
Desviación estándar: 20.169969846844943
Edad estandarizada (Z-score): 2.289434585914289

A partir del conjunto de datos original se obtuvo una muestra aleatoria de prueba correspondiente al 20 % de la información total, dejando el 80 % restante para el entrenamiento del modelo de agrupamiento. Esta separación permite validar el comportamiento del modelo sobre datos no utilizados durante el entrenamiento.

In [23]:
from sklearn.model_selection import train_test_split

# Separamos datos en entrenamiento y prueba
df_train, df_test = train_test_split(
    df,
    test_size=0.2,
    random_state=42
)

print("Datos de entrenamiento:", df_train.shape)
print("Datos de prueba:", df_test.shape)

Datos de entrenamiento: (728, 9)
Datos de prueba: (183, 9)

In [24]:
# Copias pala el trabajo
train = df_train.copy()
test = df_test.copy()

# Convertir SignupDate a datetime
train['SignupDate'] = pd.to_datetime(train['SignupDate'], errors='coerce')
test['SignupDate'] = pd.to_datetime(test['SignupDate'], errors='coerce')

# Fecha de referencia 
reference_date = pd.to_datetime('2025-12-12')

# Crear antigüedad del cliente
train['tenure_days'] = (reference_date - train['SignupDate']).dt.days
test['tenure_days'] = (reference_date - test['SignupDate']).dt.days

In [25]:
columns_to_drop = [
    'CustomerID',
    'CustomerCode',
    'LastSupportTicket',
    'SignupDate'
]

train.drop(columns=columns_to_drop, inplace=True)
test.drop(columns=columns_to_drop, inplace=True)

# Verificamos
print(train.head())
print(train.info())

     Age PlanType  MonthlyBill  HoursWatched_Last30d  PlanType_encoded  \
25    79   Basico        18.47                  38.8               0.0
84    86  Premium        54.15                 164.7               2.0
10    40   Basico        12.28                  46.2               0.0
342   56   Basico        10.95                  24.5               0.0
889   42  Premium          NaN                  92.8               2.0

     tenure_days
25         637.0
84         940.0
10        1782.0
342       1580.0
889       1616.0
<class 'pandas.core.frame.DataFrame'>
Index: 728 entries, 25 to 102
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   728 non-null    int64
 1   PlanType              728 non-null    object
 2   MonthlyBill           629 non-null    float64
 3   HoursWatched_Last30d  728 non-null    float64
 4   PlanType_encoded      728 non-null    float64
 5   tenure_days           629 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 39.8+ KB
None

Se identificaron valores faltantes en las variables MonthlyBill y tenure_days. Para su tratamiento se aplicó una estrategia de imputación mediante la mediana, garantizando la estabilidad del modelo y evitando la eliminación de registros relevantes.

In [26]:
train.drop(columns=['PlanType'], inplace=True)
test.drop(columns=['PlanType'], inplace=True)

In [27]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')

cols_to_impute = ['MonthlyBill', 'tenure_days']

train[cols_to_impute] = imputer.fit_transform(train[cols_to_impute])
test[cols_to_impute] = imputer.transform(test[cols_to_impute])

In [28]:
train.isnull().sum()

Age                     0
MonthlyBill             0
HoursWatched_Last30d    0
PlanType_encoded        0
tenure_days             0
dtype: int64

In [29]:
features = [
    'Age',
    'MonthlyBill',
    'HoursWatched_Last30d',
    'PlanType_encoded',
    'tenure_days'
]

X_train = train[features]
X_test = test[features]

In [30]:
# Escalando variables

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)